<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:devmedia="http://java.sun.com/jsf/composite/devmedia">

	<devmedia:linkImagem acao="#{controlePrincipal.home()}"
		imagem="bt_home.png" biblioteca="images"/>
	<h:form>
		<h:panelGrid columns="1">
			<h:commandLink value="#{msgs['menu.home']}"
				action="/index.xhtml" />
			<h:commandLink value="#{msgs['menu.tabelas_estilos']}"
				action="/tabelas/tabelasComEstiloCSS" />
			<h:commandLink value="#{msgs['menu.tabela_editavel']}"
				action="/tabelas/tabelaEditavel" />
			<h:commandLink value="#{msgs['menu.componentes']}"
				action="/meusComponentes" />
			<h:commandLink value="#{msgs['menu.crud_ajax']}"
				action="#{controleCRUDAjax.listar()}" />
			<h:commandLink value="#{msgs['menu.portuguese']}"
				action="#{controleLocale.portugueseLocale()}" />
			<h:commandLink value="#{msgs['menu.english']}" 
				action="#{controleLocale.englishLocale()}" />
		</h:panelGrid>
	</h:form>
</html>