<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<f:view contentType="text/html" encoding="ISO-8859-1" 
		locale="#{controleLocale.currentLocale}">
		<h:head>
			<title><ui:insert name="tituloJanela" /></title>
			<h:outputStylesheet library="css" name="estilos.css"/>
		</h:head> 
		<h:body> 
			<div id="cabecalho">
				<ui:include src="/templates/cabecalho.xhtml" />
			</div>
			<div id="barraEsquerda">
				<ui:include src="/templates/menu.xhtml" />
			</div>
			<div id="conteudo">
				<ui:insert name="conteudo" />
			</div>
		</h:body>
	</f:view> 
</html>
