<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
<title>Not present in rendered output</title>
</head>
<body>
<composite:interface>
	<composite:attribute name="biblioteca" required="true"/>
	<composite:attribute name="imagem" required="true"/>
	<composite:attribute name="acao" required="true"
		method-signature="java.lang.String action()"/>
</composite:interface>
<composite:implementation>
	<h:form>
		<h:commandLink action="#{cc.attrs.acao}">
			<h:graphicImage library="#{cc.attrs.biblioteca}"
				name="#{cc.attrs.imagem}" />
		</h:commandLink>
	</h:form>
</composite:implementation>
</body>
</html>