<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
<title>Not present in rendered output</title>
</head>
<body>
<composite:interface>
	<composite:attribute name="texto" required="true" />
	<composite:attribute name="mensagem" required="true" />
</composite:interface>
<composite:implementation>
	<h:button value="#{cc.attrs.texto}" onclick="alert('#{cc.attrs.mensagem}')"/>
</composite:implementation>
</body>
</html>