<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>Botões, link e entrada de texto</title>
	</h:head> 
	<h:body>
		<h:form id="formulario">
			<h:commandButton action="#{controleComponentes.executar()}"
				value="Enviar" id="btnEnviar"
				actionListener="#{controleComponentes.listener}" /><br/>
			<h:commandButton action="#{controleComponentes.executar()}"
				value="Enviar 2" id="cmdEnviar"
				actionListener="#{controleComponentes.listener}"
				onclick="alert('o botão foi clicado!')" /><br/>
			<h:button outcome="login" value="Pagina de login" /><br/>
			<h:link outcome="login" value="Pagina de login" />
		</h:form>
		<h:outputText value="#{controleComponentes.idComponente}"></h:outputText><br/>
		<h:outputLink value="http://www.devmedia.com.br">Devmedia</h:outputLink>
	</h:body> 
</html>