<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title></title>
	</h:head> 
	<h:body> 
		<h:panelGrid columns="3" cellpadding="2" border="1">
			<h:outputLabel value="Linha 1 Coluna 1" />
			<h:outputLabel value="Linha 1 Coluna 2" />
			<h:outputLabel value="Linha 1 Coluna 3" />
			<h:outputLabel value="Linha 2 Coluna 1" />
			<h:outputLabel value="Linha 2 Coluna 2" />
			<h:outputLabel value="Linha 2 Coluna 3" />
			<h:panelGroup>
				<h:outputLabel value="Linha 3 Coluna 3" />
				<h:button outcome="login" value="Login" />
				<h:button outcome="login" value="Login 2" />
			</h:panelGroup>
		</h:panelGrid>
	</h:body> 
</html>
