<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>Principais componentes do JSF Html e Core</title>
	</h:head> 
	<h:body>
		
	</h:body> 
</html>
