<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>Entrada de dados</title>
	</h:head> 
	<h:body>
		<h:form id="formulario">
			<h:inputHidden value="#{controleEntrada.id}" id="id" />
			<h:panelGrid columns="2">
				<f:facet name="header">Dados da pessoa</f:facet>
				<h:outputLabel value="Nome" for="nome" />
				<h:inputText value="#{controleEntrada.nome}" id="nome" size="50" maxlength="50" />
				<h:outputLabel value="Senha" for="senha" />
				<h:inputSecret value="#{controleEntrada.senha}" redisplay="true"
					size="10" maxlength="10" />
				<h:outputLabel value="Observação:" for="obs" />
				<h:inputTextarea value="#{controleEntrada.obs}" cols="30" rows="6" />
				<h:outputLabel value="Grau instrução" for="grau" />
				<h:selectOneListbox value="#{controleEntrada.grauInstrucao}"
					id="grau">
					<f:selectItems var="item" value="#{controleEntrada.grausInstrucao}"
						itemValue="#{item}" itemLabel="#{item}" />
				</h:selectOneListbox>
				<h:outputLabel value="Tecnologias" for="tec" />
				<h:selectManyCheckbox value="#{controleEntrada.selecionadas}"
					id="tec">
					<f:selectItems var="item2" value="#{controleEntrada.tecnologias}"
						itemValue="#{item2}" itemLabel="#{item2}"/>
				</h:selectManyCheckbox>
				<h:column>
					<div align="center">
						<h:commandButton value="Processar"
							action="#{controleEntrada.processa()}" />
					</div>
				</h:column>
				<!-- <h:selectOneMenu value="#{controleEntrada.grauInstrucao}" id="grau"> -->
					<!-- <f:selectItem itemLabel=".. Selecione .." noSelectionOption="true" /> -->
					<!-- Gerado de maneira estatica --> 
					<!-- <f:selectItem itemLabel="Ensino Fundamental" itemValue="Ensino Fundamental"/>
					<f:selectItem itemLabel="Ensino Médio" itemValue="Ensino Médio"/>
					<f:selectItem itemLabel="Ensino Superior" itemValue="Ensino Superior"/> -->
					<!-- <f:selectItems var="item" value="#{controleEntrada.grausInstrucao}"
						itemValue="#{item}" itemLabel="#{item}" /> -->
				<!-- </h:selectOneMenu> -->
				<!-- <h:selectOneRadio value="#{controleEntrada.grauInstrucao}"
					id="grau" layout="lineDirection">
					<f:selectItems var="item" value="#{controleEntrada.grausInstrucao}"
						itemValue="#{item}" itemLabel="#{item}" />
				</h:selectOneRadio> -->
			</h:panelGrid>
		</h:form>
		<h:outputText value="#{controleEntrada.saida}" escape="false" />
	</h:body>
</html>
