<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
	<f:view>
		<f:metadata>
			<f:viewParam name="c" value="#{controleBonus.cargo}" />
			<f:viewParam name="n" value="#{controleBonus.nome}" />
			<f:viewParam name="s" value="#{controleBonus.salario}" />
			<f:viewAction action="#{controleBonus.calcula()}" />
		</f:metadata>
		<h:head>
			<title></title>
		</h:head> 
		<h:body> 
			<h:panelGrid columns="2">
				<h:outputLabel value="Nome" />
				<h:outputLabel value="#{controleBonus.nome}" />
				<h:outputLabel value="Salario" />
				<h:outputLabel value="#{controleBonus.salario}" />
				<h:outputLabel value="Bonus" />
				<h:outputLabel value="#{controleBonus.bonus}" />
			</h:panelGrid>
		</h:body>
	</f:view> 
</html>