<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>Conversores customizados</title>
	</h:head> 
	<h:body>
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel value="Nascimento" />
				<h:inputText value="#{controleAulaConversores.nascimento}">
					<f:converter converterId="converterCalendar"/>
				</h:inputText>
				<h:outputLabel value="Cidade" />
				<h:selectOneMenu value="#{controleAulaConversores.cidade}"
					converter="#{controleAulaConversores.converterCidade}">
					<f:selectItems value="#{controleAulaConversores.listaCidades}"/>
				</h:selectOneMenu>
				<f:facet name="footer">
					<h:commandButton value="Enviar"
						action="#{controleAulaConversores.lerDados()}" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</h:body> 
</html>
