<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>Exemplo validacao JSF2</title>
	</h:head> 
	<h:body> 
		<h:form id="formulario" prependId="false">
			<h:messages />
			<h:panelGrid columns="3">
				<h:outputLabel value="Nome" for="nome" />
				<h:inputText value="#{controleValidacao.nome}" id="nome"
					size="40" required="true"
					requiredMessage="Campo Obrigatório!"
					validatorMessage="mínimo 3 máximo 40!">
					<f:validateLength minimum="3" maximum="40"/>
				</h:inputText>
				<h:message for="nome" style="color:red;"/>
				<h:outputLabel value="Telefone" for="telefone" />
				<h:inputText value="#{controleValidacao.telefone}" id="telefone"
					size="14" required="true"
					requiredMessage="Campo Obrigatório!"
					validatorMessage="Formato Inválido!">
					<f:validateRegex pattern="\(\d{2}\)\d{4}\-\d{4}" />
				</h:inputText>
				<h:message for="telefone" style="color:red;"/>
				<h:outputLabel value="Email" for="email" />
				<h:inputText value="#{controleValidacao.email}" id="email"
					size="40" required="true"
					requiredMessage="Campo Obrigatório!"
					validatorMessage="E-mail Inválido!">
					<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
				</h:inputText>
				<h:message for="email" style="color:red;"/>
				<h:outputLabel value="Idade" for="idade" />
				<h:inputText value="#{controleValidacao.idade}" id="idade"
					size="3" required="true"
					requiredMessage="Campo Obrigatório!"
					validatorMessage="Mínimo 10, máximo 80">
					<f:validateLongRange minimum="10" maximum="80"/>
				</h:inputText>
				<h:message for="idade" style="color:red;"/>
				<h:outputLabel value="Nota" for="nota" />
				<h:inputText value="#{controleValidacao.nota}" id="nota"
					size="40" required="true"
					requiredMessage="Campo Obrigatório!"
					validatorMessage="Mínimo 0, máximo 10">
					<f:validateDoubleRange minimum="0" maximum="10"/>
				</h:inputText>
				<h:message for="nota" style="color:red;"/>
				<h:commandButton action="#{controleValidacao.processaDados()}"
					value="Processar" />
			</h:panelGrid>
		</h:form>
	</h:body> 
</html>
