<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
<f:view encoding="ISO-8859-1" contentType="text/html">
<h:head><title>Java Server Faces</title></h:head> 
<body> 
	<h:outputLabel value="#{controlePrincipal.mensagem}" />
	<h:form>
		<h:commandLink action="sobre" value="Sobre... navegação estatica" /><br/>
		<h:commandLink action="#{controlePrincipal.sobre()}" 
			value="Sobre... navegação dinamica" /><br/>
		<h:commandLink action="#{controlePrincipal.sobreRedirecionado()}" value="Sobre... navegação dinamica redirecionada" /><br/>
		<h:commandLink action="#{controlePrincipal.geraErro()}" value="Erro" /><br/>
		<h:commandLink action="#{controlePrincipal.geraErroGrave()}" value="Erro Grave" /><br/>
		<h:commandLink action="#{controlePrincipal.geraLogin()}" value="Login" />
		<h:commandButton action="#{controleComponentes.geraTexto()}" 
			value="Componentes parte 2" />
		<h:commandButton action="componentesParte3"
			value="Componentes parte 3" />
		<h:commandButton action="componentesParte4"
			value="Componentes parte 4" />
		<h:commandButton action="componentesParte5"
			value="Componentes parte 5+" />
		<h:commandLink action="formPessoa" value="Cadastro" /><br/>
		<h:commandLink action="formBonus" value="Bonus" /><br/>
		<h:commandLink action="tabelaRepeat" value="Tabela Repeat" /><br/>
		<h:commandLink action="tabelaSimples" value="Tabela Repeat 2" />
	</h:form>
</body>
</f:view>
</html>