<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:devmedia="http://java.sun.com/jsf/composite/devmedia">

	<ui:composition template="/templates/template.xhtml">
		<ui:define name="tituloJanela">
			Meus componentes customizados
		</ui:define>
		<ui:define name="conteudo">
			<devmedia:meuPrimeiroComponente />
			<devmedia:mensagem texto="click" 
				mensagem="Olá composite componente"/>
		</ui:define>
	</ui:composition>
</html>
