<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>Estilos para linhas e colunas da tabela de dados</title>
		<h:outputStylesheet library="css" name="estilos.css"></h:outputStylesheet>
	</h:head> 
	<h:body> 
		<h:dataTable value="#{controleTabela.lista}" var="obj"
			headerClass="tabelaCabecalho" footerClass="tabelaRodape"
			frame="box" rules="all" cellpadding="3"
			rowClasses="primeiraLinha, segundaLinha">
			<f:facet name="header">Listagem de pessoas</f:facet>
			<f:facet name="footer">
				Total de registros: #{controleTabela.lista.size()}
			</f:facet>
			<h:column headerClass="colunaIDCabecalho">
				<f:facet name="header">ID</f:facet>
				#{obj.id}
			</h:column>
			<h:column headerClass="colunaCabecalho">
				<f:facet name="header">NOME</f:facet>
				#{obj.nome}
			</h:column>
			<h:column headerClass="colunaCabecalho">
				<f:facet name="header">TEL</f:facet>
				#{obj.telefone}
			</h:column>
		</h:dataTable>
	</h:body> 
</html>
