<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>Tabela Simples</title>
	</h:head> 
	<h:body>
		<h:dataTable value="#{controleTabela.lista}" var="obj">
			<h:column>#{obj.id}</h:column>
			<h:column>#{obj.nome}</h:column>
			<h:column>#{obj.telefone}</h:column>
		</h:dataTable>
	</h:body> 
</html>