<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<ui:composition template="/templates/template.xhtml">
		<ui:define name="tituloJanela">Tabela Editavel</ui:define>
		<ui:define name="conteudo">
			<h:form>
				<h:dataTable value="#{controleTabela.lista}" var="obj"
					styleClass="tabela" headerClass="tabelaCabecalho"
					rowClasses="primeiraLinha, segundaLinha" footerClass="tabelaRodape"
					rules="all" cellpadding="3">
					<f:facet name="header">Tabela Pessoas</f:facet>
					<f:facet name="footer">
							Total de registros #{controleTabela.lista.size()}
							<br />
						<h:commandButton action="#{controleTabela.salvar()}"
							value="Salvar alterações" />
					</f:facet>
					<h:column>
						<f:facet name="header">Editar</f:facet>
						<h:selectBooleanCheckbox value="#{obj.editando}" onclick="submit()" />
					</h:column>
					<h:column>
						<f:facet name="header">ID</f:facet>
						<h:outputText value="#{obj.id}" rendered="#{!obj.editando}" />
						<h:inputText value="#{obj.id}" rendered="#{obj.editando}" size="5" />
					</h:column>
					<h:column>
						<f:facet name="header">Nome</f:facet>
						<h:outputText value="#{obj.nome}" rendered="#{!obj.editando}" />
						<h:inputText value="#{obj.nome}" rendered="#{obj.editando}"
							size="30" />
					</h:column>
					<h:column>
						<f:facet name="header">Telefone</f:facet>
						<h:outputText value="#{obj.telefone}" rendered="#{!obj.editando}" />
						<h:inputText value="#{obj.telefone}" rendered="#{obj.editando}"
							size="15" />
					</h:column>
					<h:column>
						<h:commandLink action="#{controleTabela.excluir(obj)}"
							onclick="if (!confirm('Confirma a exclusão de pessoa #{obj.nome}')) return false"
							value="Excluir" />
					</h:column>
				</h:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
</html>
