<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<ui:composition template="/templates/template.xhtml">
		<ui:define name="tituloJanela">Tabelas com estilos CSS</ui:define>
		<ui:define name="conteudo">
			<h:dataTable value="#{controleTabela.lista}" var="obj"
				captionClass="tituloTabela" styleClass="tabela"
				headerClass="tabelaCabecalho" footerClass="tabelaRodape">
				<f:facet name="caption">Terceiro exemplo com dataTable</f:facet>
				<f:facet name="header">Listagem de Pessoas</f:facet>
				<f:facet name="footer">
					Total de registros: #{controleTabela.lista.size()}
				</f:facet>
				<h:column>#{obj.id}</h:column>
				<h:column>#{obj.nome}</h:column>
				<h:column>#{obj.telefone}</h:column>
			</h:dataTable>
		</ui:define>
	</ui:composition> 
</html>
