<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title></title>
	</h:head> 
	<h:body> 
		<table>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Telefone</th>
			</tr>
			<ui:repeat var="obj" value="#{controleTabela.lista}">
				<tr>
					<td>#{obj.id}</td>
					<td>#{obj.nome}</td>
					<td>#{obj.telefone}</td>
				</tr>
			</ui:repeat>
		</table>
	</h:body> 
</html>
